<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>

<%- include("partials/header") %>

<h2>Create an Account</h2>

<p class="page-description">
    Create a new <strong>Patient</strong> account by filling in the details below. All fields are required.
</p>

<form action="/auth/register" method="POST">

  <label>First Name</label>
  <input
    type="text"
    name="first_name"
    required
    value="<%= formData.first_name || '' %>"
  >

  <label>Last Name</label>
  <input
    type="text"
    name="last_name"
    required
    value="<%= formData.last_name || '' %>"
  >

  <label>Email</label>
  <input
    type="email"
    name="email"
    required
    value="<%= formData.email || '' %>"
  >

  <label>Phone</label>
  <input
    type="tel"
    name="phone"
    required
    value="<%= formData.phone || '' %>"
  >

  <label>Username</label>
  <input
    type="text"
    name="username"
    required
    value="<%= formData.username || '' %>"
  >

  <label>Password</label>
  <input type="password" name="password" required>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <button type="submit">Register</button>
</form>


<p><a href="/auth/login">Already registered? Login</a></p>

<%- include("partials/footer") %>

</body>
</html>
